*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Poppins,sans-serif;

    background:linear-gradient(135deg,#ffd6e8,#ff7ea8,#ff4d6d);

    overflow:hidden;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}

.container{

    width:90%;
    max-width:700px;

    padding:50px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(15px);

    border-radius:25px;

    text-align:center;

    box-shadow:0 0 35px rgba(255,255,255,.3);

    animation:fadeIn 2s;

}

h1{

    font-family:'Great Vibes',cursive;

    font-size:65px;

    color:white;

    margin-bottom:30px;

}

p{

    color:white;

    line-height:1.9;

    font-size:20px;

    margin-bottom:45px;

}

button{

    border:none;

    padding:18px 45px;

    border-radius:40px;

    background:#ff2d55;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.4s;

    box-shadow:0 0 25px #ff2d55;

}

button:hover{

    transform:scale(1.08);

    box-shadow:0 0 40px #ff2d55;

}

.background-hearts{

    position:absolute;

    width:100%;

    height:100%;

    overflow:hidden;

}

.background-hearts span{

    position:absolute;

    color:rgba(255,255,255,.35);

    font-size:35px;

    animation:float 12s linear infinite;

}

.background-hearts span:nth-child(1){

left:8%;

animation-delay:0s;

}

.background-hearts span:nth-child(2){

left:25%;

animation-delay:2s;

font-size:55px;

}

.background-hearts span:nth-child(3){

left:42%;

animation-delay:5s;

}

.background-hearts span:nth-child(4){

left:60%;

animation-delay:1s;

font-size:50px;

}

.background-hearts span:nth-child(5){

left:78%;

animation-delay:4s;

}

.background-hearts span:nth-child(6){

left:92%;

animation-delay:7s;

}

@keyframes float{

0%{

transform:translateY(110vh) rotate(0deg);

opacity:0;

}

20%{

opacity:1;

}

100%{

transform:translateY(-120px) rotate(360deg);

opacity:0;

}

}

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}